
*.cls
*.pyc

backend/fortran/msh/*.msh
backend/fortran/msh/*.geo
backend/fortran/msh/*.mail

docs/build/latex/*.png
docs/build/latex/*.sty
docs/build/latex/*.aux
docs/build/latex/*.dvi
docs/build/latex/*.idx
docs/build/latex/*.idx
docs/build/latex/*.ilg
docs/build/latex/*.ind
docs/build/latex/*.ind
docs/build/latex/*.log
docs/build/latex/*.out
docs/build/latex/*.toc
docs/build/latex/*.ist
